doctype html
html(lang="ru")
	head
		title test page
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="stylus/main.styl")
	body
		h1 Hello world!
		a(href="#", title="Link")
			span.first-letter Link
			// Комментарий
			//- Комментарий
		.container
			a(href="#") Ссылка 1
		.container
			a(href="#") Ссылка 2
